"*":
  "Sublime-Style-Column-Selection": {}
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
  "exception-reporting":
    userId: "33ed0bbe-d877-4f38-8fb0-ba2d00c58774"
  "markdown-preview-plus": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
